@model StudentViewModel
<link href="~/css/Shared.css" rel="stylesheet" />

<h1>@Model.Name heeft nog geen enkele bestelling geplaatst</h1>

<a asp-controller="Admin" asp-action="ShowStudents" class="btn btn-secondary">Terug</a>
