@model AccountChangePasswordViewModel

<partial name="_LogoutButton" />
<link rel="stylesheet" href="/css/Shared.css" />
<div class="row">
    <div class="col col-lg-5 border border-1 rounded rounded-3 mx-auto bg-light">
        <h3>@ViewBag.PageTitle</h3>
        <form asp-controller="Account" asp-action="ChangePassword"
              method="post">
            <div class="form-group">
                <label asp-for="OldPassword"></label>
                <input asp-for="OldPassword" class="form-control">
                <span class="text-danger" asp-validation-for="OldPassword"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPassword"></label>
                <input asp-for="NewPassword" class="form-control">
                <span class="text-danger" asp-validation-for="NewPassword"></span>
            </div>
            <div class="form-group">
                <label asp-for="RepeatPassword"></label>
                <input asp-for="RepeatPassword" class="form-control">
                <span class="text-danger" asp-validation-for="RepeatPassword"></span>
            </div>
            <button type="submit" class="btn btn-primary mb-2">Verander wachtwoord</button>
        </form>
    </div>
</div>