<div class="d-flex justify-content-sm-between">
    <a asp-controller="Account" asp-action="ChangePassword" asp-area="" class="btn btn-primary">Verander wachtwoord</a>
    <a asp-controller="Account" asp-action="logout" asp-area="" class="btn btn-primary">Uitloggen</a>
</div>
