<link rel="stylesheet" href="/css/Shared.css" />
<link rel="stylesheet" href="/css/OrderOverview.css" />
<partial name="_LogoutButton" />
<h1>Overzicht</h1>

<a asp-action="ShowAllOrders" class="btn btn-secondary">Toon orders</a>
<a asp-controller="Orders" asp-action="ProductsDeliveredOverview" class="btn btn-secondary">Alle bestellingen</a>
<a asp-controller="Overview" asp-action="Index" class="btn btn-secondary">Terug</a>